<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{css/loginStyle.css}">
    <script defer th:src="@{script/script.js}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <div class="login-container">
        <div class="login-form" id="loginForm">
            <h1>Login</h1>

            <div class="social-icons">
                <a href="" class="icon"><i class="fa-brands fa-google"></i></a>
                <a href="" class="icon"><i class="fa-brands fa-facebook"></i></a>
                <a href="" class="icon"><i class="fa-brands fa-github"></i></a>
                <a href="" class="icon"><i class="fa-brands fa-linkedin"></i></a>
            </div>

            <div class="form-message-container">
                <span>Ou use seu email e senha.</span>
            </div>
            <div th:if="${error}" class="error-message">
                <p th:text="${error}"></p>
            </div>
            <form th:action="@{/login}" method="post">
                <input name="email" class="areaInput" type="email" placeholder="Email" required>
                <input name="password" class="areaInput" type="password" placeholder="Password" required>
                <button class="botaoLogin">Login</button>
            </form>

            <p>
                Não tem uma conta? <a href="#" id="showSignup">Cadastre-se agora</a>
            </p>
            
        </div><!--login-form-->

        <div class="signup-form hidden" id="signupForm">
            <h1>Crie uma conta</h1>

            <div class="social-icons">
                <a href="" class="icon"><i class="fa-brands fa-google"></i></a>
                <a href="" class="icon"><i class="fa-brands fa-facebook"></i></a>
                <a href="" class="icon"><i class="fa-brands fa-github"></i></a>
                <a href="" class="icon"><i class="fa-brands fa-linkedin"></i></a>
            </div>

            <div class="form-message-container">
                <span>Ou use seu email e senha.</span>
            </div>

            <div th:if="${error}" class="error-message">
                <p th:text="${error}"></p>
            </div>

            <form th:action="@{/register}" method="post">
                <input name="name" class="areaInput" type="text" placeholder="Name" required>
                <input name="email" class="areaInput" type="email" placeholder="Email" required>
                <input name="password" class="areaInput" type="password" placeholder="Password" required>
                <input name="confirmPassword" class="areaInput" type="password" placeholder="Confirm Password" required>
                <button class="botaoLogin">Criar conta</button>
            </form>

            <p>Voce ja tem uma conta? <a href="#" id="showLogin">login</a></p>
            
        </div> <!--Signup-form-->


    </div>
    
</body>
</html>