<!DOCTYPE html>
<html lang="pt-br">
    <head th:replace="~{base :: head('Editor de fotos')}"></head>
<body>


    <header th:replace="~{base :: header('15')}"></header>


    <div class="container-remover-fundo">

        <h1 class="titulo-remover-fundo">
        Edite sua foto
        </h1>

        <div class="remover-fundo">
            <div th:if="${imageUrl != null}">
                <img th:src="${imageUrl}" alt=""  width="300">
            </div>
            <div th:unless="${imageUrl}">
                <img src='../image/backgroundTransparent.jpg' alt="">
            </div>

            
            <div class="botao-remover">
                
                <form th:action="@{/remove-background}" class="form-enviar-imagem" method="POST" enctype="multipart/form-data">
                    <input type="file" name="imageFile" id="inputImage" required accept=".jpg, .jpeg">

                    
                    <div class="select-container-privado">
                        <input type="radio" id="private" name="isPrivate" value="true" required>
                        <label for="private">Tornar foto privada</label>
                    </div>

                    <div class="select-container-publico">
                        <input type="radio" id="public" name="isPrivate" value="false" required>
                        <label for="public">Tornar foto pública</label>
                    </div>

                    <button type="submit" class="btn-enviar"> Remover o fundo</button>

                    <a th:href="${imageUrl != null} ? '/images/download/' + ${imageId} : '#'" class="btn-enviar" th:disabled="${imageUrl == null}">
                        Download
                    </a>

                </form>

                
                

            </div>
        </div>

       
    </div>


    <footer th:replace ="~{base :: footer}"></footer>

    
    <script src="https://kit.fontawesome.com/de140a3406.js" crossorigin="anonymous"></script> <!--Icons-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> <!--Bootstrap-->

</body>
</html>