<!DOCTYPE html>
<html lang="pt-br">
<head>
    <head th:replace="~{base :: head('Perfil de Usuário')}"></head>
</head>
<body>
    
    <header th:replace="~{base :: header('15')}"></header>


    <div class="container-usuario-info">

        <div class="foto-de-perfil">
            <img src="https://i.pinimg.com/564x/5a/98/3b/5a983bd0d69c9c3bfcaeac8efe28fe2c.jpg" alt="">

           <div class="nome-usuario">
               <p>Hi! </p>
               <p class="nome" th:text="${loggedUser.getName()}">Usuario</p>
               <button>editar</button>
           </div>
        </div>

        <div class="info-curtidas-donwloads">
            <p><span th:text="${totalLikes}">100</span> <span>curtidas</span></p>
            <p><span th:text="${totalDownloads}">100</span> <span>downloads</span></p>
            <p><span th:text="${totalImages}">100</span> <span>imagens</span></p>
        </div>
    </div>

    <div class="container-imagens-usuario">
    
        <div class="imagens-upadas">
            <div class="cards-imagem" th:each="imageId : ${imagesIds}">
                <img th:src="'/images/' + ${imageId}" alt="Imagem do usuário"/>
            </div>
        </div>
    </div>
    <footer th:replace ="~{base :: footer}"></footer>

    
    <script src="https://kit.fontawesome.com/de140a3406.js" crossorigin="anonymous"></script> <!--Icons-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> <!--Bootstrap-->
    

</body>
</html>