<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
</head>
<body>
    
    <div class="container-not-found">
        <h1>Pagina nao encontrada!</h1>
        <p>Aprecie o gatinho:</p>
        <img src="https://i.pinimg.com/originals/f0/ae/8b/f0ae8bc86ab9b5459880ea9e8894774d.gif" alt="">
        <a th:href="@{/}" >Voltar</a>
    </div>
</body>
</html>