* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.header {
    background:  linear-gradient(
        rgba(46, 5, 75, 0.5),rgba(40, 6, 65, 0.5)
      ),url('../image/wallpaper.jpg');

    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#logar {
    background-color: #6958a7;
    border-radius: 10px;
}

/*Botao do menu ↑ */

.titulo {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.titulo button{
    border: none;
    border-radius: 20px;
    color: #0c1774;
    padding: 10px 30px;
    margin-top: 30px;
    cursor: pointer;
}

.titulo a {
    text-decoration: none;
    color: #0c1774;
}

/*Header  ↑ */

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 30px;
    background-color: #fff;
    flex-direction: column;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: #fff;
} /*Estilização do titulo dos cards*/


/*Edit*/

.edit{
    background-image: url('../image/backgroundTransparent.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 50px;
    width: 70%;
    height: 70vh;
    margin-top: 150px;
    box-shadow:#a29ddc 4px 4px 10px;
}/* Area para remover o fundo*/

.edit a {
    text-decoration: none;
    color: #0c1774;
}

#texto {
    margin: 5px;
}

.edit button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 40px;
    font-size: 20px;
    background-color:#a29ddc;
    box-shadow: #a29ddc 4px 4px 10px;
    padding: 10px 55px;
}/*Butão de remover fundo*/

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    margin-top: 4px;

}/*Mini imagens*/

.cards {
  aspect-ratio: 4/4;
  width: 100%;
  position: relative;

} /*Mini imagens*/

.cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/*Perguntas e repostas*/

.perguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    width: 80%;
    margin: 0 auto;
    margin-top: 150px;

}

.faq {
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3 {
    font-size: 1.2rem;
}

.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.answer p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1rem;
}

.faq.active .answer {
    max-height: 300px;
    animation: fade 1s ease-in-out;
}

.faq.active svg {
    transform: rotate(180deg);
}

svg {
    transition: transform 0.5s ease-in;
}

@keyframes fade {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/*Perguntas e repostas*/

/*Main ↑ */



section.ondas-box {
    position: relative;
    width: 100%;
}

.onda{
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    background-image: url('../image/wave.png');
    background-size: 1000px 100px;

    animation: ondasAnimadas 5s ease-in-out infinite alternate;
}

@keyframes ondasAnimadas {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(10px);
    }
}

#onda1 {
    z-index: 1000;
    opacity: 1;
    background-position-x: -400px;
}
#onda2 {
    z-index: 999;
    opacity: 0.5;
    background-position-x: -300px;
}
#onda3 {
    z-index: 998;
    opacity: 0.2;
    background-position-x: 200px;
}
#onda4 {
    z-index: 997;
    opacity: 0.8;
    background-position-x: 100px;
}

/*Ondas ↑ */

/*Footer*/

.footer{
    background:  linear-gradient(
        rgba(46, 5, 75, 0.5),rgba(40, 6, 65, 0.5)
      ),url('../image/wallpaper.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    color: rgb(207, 207, 207);
}

.container h4 {
    font-size: 1.5rem;
}

.copyright p {
    color: #656565;
    margin-bottom: 0;
}




/* Area de estilização da tela de editor de fotos*/

.container-remover-fundo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.container-remover-fundo h1 {
    font-size: 50px;
    margin-bottom: 40px;
}

.remover-fundo {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.remover-fundo img {
    margin: 10px 20px;
     
    border-radius: 20px;
}

.botao-remover{
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
}

.botao-remover .form-enviar-imagem {
    display: flex;
    flex-direction: column ;
   
}

.botao-remover .form-enviar-imagem .btn-enviar {

    margin-top: 10px;
    padding: 10px 30px;
    background-color: #6958a7;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.botao-remover .form-enviar-imagem a {

    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    color: white;
    
}

.select-container-publico {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 10px;
}

.select-container-privado {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 10px;
}


/*Estilização da pagina explorar*/


.cardContainer {
    padding: 15px 35px;
    padding-bottom: 100px;

    outline: none;
    text-decoration: none;
    transition: .2s linear;

}

.cardContainer .heading {
    text-align: center;
    padding-bottom: 20px;
    color: #0c1774;
    font-size: 50px;
}

.cardContainer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(470px, 1fr));
    gap: 20px;
}

.cardContainer .box-container .box {
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #f5f5f5;
    text-align: center;
    padding: 20px 20px;
}

.cardContainer .box-container .box img {
    height: 250px;
}

.cardContainer .box-container .box h3 {
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding: 10px 0;
}

.cardContainer .box-container .box p {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: rgb(18, 18, 18);
    line-height: 1.8;
}

.cardContainer .box-container .box span{
    font-size: 14px;
    color: gray;
}

.cardContainer .box-container .box .botao-explore {
    display: inline-block;
    color: #000000;
    font-size: 20px;
    border-radius: 5px;
    padding: 8px 25px;
}

.cardContainer .box-container .box:hover {
    box-shadow: 0 10px 15px rgba(0,0,0,.2);;
    transform: scale(1.03);
}

@media (max-width: 768px) {
    .cardContainer{
        padding: 20px;
    }
}




/*Tela de perfil de usuario ↓ */

.container-usuario-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.foto-de-perfil {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.foto-de-perfil img {
    margin: 10px 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.nome-usuario {
    display: flex;
    flex-direction: column;
}

.nome-usuario p {
    font-size: 20px;
    margin: 5px 10px;
}

.info-curtidas-donwloads{
    display: flex;
    flex-direction: row;
    padding: 20px 40px;
}

.info-curtidas-donwloads p{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    color: rgb(18, 18, 18);
    line-height: 1.8;
    margin: 10px 20px;
}

.info-curtidas-donwloads span {
    font-size: 20px;
}


.cardContainer-user {
    padding: 15px 35px;
    padding-bottom: 100px;

    outline: none;
    text-decoration: none;
    transition: .2s linear;

}

.cardContainer-user .box-container-user {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(470px, 1fr));
    gap: 20px;
}

.cardContainer-user .box-container-user .box-user {
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #f5f5f5;
    text-align: center;
    padding: 20px 20px;
}

.cardContainer-user .box-container-user .box-user img {
    height: 250px;
}

.cardContainer-user .box-container-user .box-user p {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: rgb(18, 18, 18);
    line-height: 1.8;
}

.cardContainer-user .box-container-user .box-user span{
    font-size: 14px;
    color: gray;
}

.cardContainer-user .box-container-user .box-user .botao-user {
    display: inline-block;
    color: #000000;
    font-size: 20px;
    border-radius: 5px;
    padding: 8px 25px;
}

.cardContainer-user .box-container-user .box-user:hover {
    box-shadow: 0 10px 15px rgba(0,0,0,.2);;
    transform: scale(1.03);
}

@media (max-width: 768px) {
    .cardContainer-user{
        padding: 20px;
    }
}


/*Tela de perfil de usuario ↑*/

/*Estilização de pagina não encontrada*/

.container-not-found{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-not-found h1 {
    font-size: 50px;
    margin-bottom: 40px;
    margin-top: 60px;
    
}