* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.header {
    background-image: url('../image/wallpaper.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#logar {
    background-color: gray;
    border-radius: 10px;
}

/*Botao do menu ↑ */

.titulo {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.titulo button{
    border: none;
    border-radius: 20px;
    color: gray;
    padding: 10px 30px;
    margin-top: 30px;
    cursor: pointer;
}

/*Header  ↑ */

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 30px;
    background-color: #fff;
    flex-direction: column;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: #fff;
} /*Estilização do titulo dos cards*/


/*Edit*/

.edit{
    background-image: url('../image/backgroundTransparent.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 50px;
    width: 70%;
    height: 70vh;
    margin-top: 150px;
    box-shadow: #9f9f9f 4px 4px 10px;
}/* Area para remover o fundo*/

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-top: 40px;
    margin-bottom: 80px;
    padding: 10px 55px;
    border-radius: 40px;
    font-size: 20px;
    background-color: #d2d2d2;
    box-shadow: #9f9f9f 4px 4px 10px;
   
}/*Estilização do botão do edit*/

#texto {
    margin: 5px;
}

.edit button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 40px;
    font-size: 20px;
    background-color: #d2d2d2;
    box-shadow: #9f9f9f 4px 4px 10px;
    padding: 10px 55px;
}/*Butão de remover fundo*/

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    margin-top: 4px;

}/*Mini imagens*/

.cards {
  aspect-ratio: 4/4;
  width: 100%;
  position: relative;

} /*Mini imagens*/

.cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

/*Perguntas e repostas*/

.perguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    width: 80%;
    margin: 0 auto;
    margin-top: 150px;

}

.faq {
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3 {
    font-size: 1.2rem;
}

.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.answer p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1rem;
}

.faq.active .answer {
    max-height: 300px;
    animation: fade 1s ease-in-out;
}

.faq.active svg {
    transform: rotate(180deg);
}

svg {
    transition: transform 0.5s ease-in;
}

@keyframes fade {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/*Perguntas e repostas*/

/*Main ↑ */



section.ondas-box {
    position: relative;
    width: 100%;
}

.onda{
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    background-image: url('../image/wave.png');
    background-size: 1000px 100px;

    animation: ondasAnimadas 5s ease-in-out infinite alternate;
}

@keyframes ondasAnimadas {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(10px);
    }
}

#onda1 {
    z-index: 1000;
    opacity: 1;
    background-position-x: -400px;
}
#onda2 {
    z-index: 999;
    opacity: 0.5;
    background-position-x: -300px;
}
#onda3 {
    z-index: 998;
    opacity: 0.2;
    background-position-x: 200px;
}
#onda4 {
    z-index: 997;
    opacity: 0.8;
    background-position-x: 100px;
}

/*Ondas ↑ */

/*Footer*/

.footer{
    background-image: url('../image/wallpaper.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    color: rgb(207, 207, 207);
}

.container h4 {
    font-size: 1.5rem;
}

.copyright p {
    color: #656565;
    margin-bottom: 0;
}
