<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/src/main/resources/static/css/style.css">
    <script defer src="/src/main/resources/static/script/script.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clean Cut</title>
</head>
<body>

 

    <header class="header">

        <div class="menu">
            <nav class="navbar navbar-dark navbar-expand-lg">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">Clean Cut</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Galeria</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Descobrir</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Editar</a>
                      </li>
                      <li class="nav-item" id = "logar">
                        <a class="nav-link active" href="#">Entrar</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
        </div><!--Menu-->

        <div class="titulo">
            <h1>Removedor de fundo</h1>
    
            <p>Apague fundos de imagens e substitua-os por fundos diferentes de sua escolha gratuitamente.</p>
            <button><i class="fa-solid fa-plus"></i> Remover e postar</button>
        </div> <!--div class titulo-->

        <section class="ondas-box">
            <div class="onda" id="onda1"></div>
            <div class="onda" id="onda2"></div>
            <div class="onda" id="onda3"></div>
            <div class="onda" id="onda4"></div>
        </section> <!--Section ondas-->
    </header>

    <main class="main">

      <h1 class="info">Como remover um fundo em segundos?</h1>
      <div class="row">
        <div class="col ">
          <div class="card h-100 text-bg-dark mb-3" style="max-width: 25rem;">
            <div class="card-header">Passo 1</div>
            <div class="card-body">
              <h5 class="card-title">Selecionar uma 
                imagem.</h5>
              <p class="card-text"> Primeiro, escolha uma imagem que deseja remover o fundo clicando em “Remover e postar”.</p>
              <p class="card-text">Seu formato pode ser em JPG ou PNG. Oferecemos suporte a todas dimensões de imagem.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 text-bg-dark mb-3" style="max-width: 25rem;">
            <div class="card-header">Passo 2</div>
            <div class="card-body">
              <h5 class="card-title">Remova o fundo como um passe de mágica.</h5>
              <p class="card-text">Nossa ferramenta remove automaticamente o fundo da sua imagem. A seguir, você pode escolher uma cor de fundo.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 text-bg-dark mb-3" style="max-width: 25rem ;">
            <div class="card-header">Passo 3</div>
            <div class="card-body">
              <h5 class="card-title">Faça download ou poste sua imagem.</h5>
              <p class="card-text">Depois de selecionar uma nova cor de fundo, faça o download de sua foto e pronto!</p>
              <p class="card-text">Ou postar em seu perfil criando uma conta no clean cut. Conseguindo acessar as imagens de outras pessoas</p>
            </div>
          </div>
        </div>
      </div> <!--Cards-->


      <div class="edit">
          <button class="botao">Remover fundo</button>
      </div> <!--Area para remover o fundo-->

      <p id="texto">Nao tem uma imagem? Teste com uma dessas:</p><!--Texto das mini imagens-->

      
      <div class="grid">

        <div class="card">
          <img src="https://i.pinimg.com/564x/20/e0/fd/20e0fd7d19f497342c0801d389c41d44.jpg" alt="">
        </div>
        <div class="card">
          <img src="https://i.pinimg.com/564x/97/af/77/97af774d991d6851e0d6b98e810b93b7.jpg" alt="">
        </div>
        <div class="card">
          <img src="https://i.pinimg.com/564x/36/23/11/362311f4d489fdfdf84a45cb7540236b.jpg" alt="">
        </div>
        <div class="card">
          <img src="https://i.pinimg.com/736x/39/c8/d0/39c8d0801f1625f52f8c9e972743a660.jpg" alt="">
        </div> <!--Mini imagens para usar de exemplo-->
      </div>

    </main>

    <footer>
        
    </footer>

    <script src="https://kit.fontawesome.com/de140a3406.js" crossorigin="anonymous"></script> <!--Icons-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> <!--Bootstrap-->
    
</body>
</html>