<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/src/main/resources/statitc/css/style.css">
    <script defer src="/src/main/resources/statitc/script/script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clean Cut</title>
</head>
<body>

 

    <header>
        <div class="titulo">
            <h1>Removedor de fundo</h1>
    
            <p>Apague fundos de imagens e substitua-os por fundos diferentes de sua escolha gratuitamente.</p>
            <button><i class="fa-solid fa-plus"></i> Remover e postar</button>
        </div> <!--div class titulo-->

        <section class="ondas-box">
            <div class="onda" id="onda1"></div>
            <div class="onda" id="onda2"></div>
            <div class="onda" id="onda3"></div>
            <div class="onda" id="onda4"></div>
        </section> <!--Section ondas-->
    </header>

    <main>

    </main>

    <footer>
        
    </footer>

    <script src="https://kit.fontawesome.com/de140a3406.js" crossorigin="anonymous"></script> <!--Icons-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> <!--Bootstrap-->
    
</body>
</html>