<!DOCTYPE html>
<html lang="pt-br">
<head th:replace="~{base :: head('Clean Cut')}"></head>
<body>



    <header th:replace="~{base :: header('40')}"></header>

    <main class="main">

      <h1 class="info">Como remover um fundo em segundos?</h1>
      <div class="row">
        <div class="col ">
          <div class="card h-100  mb-3" style="max-width: 25rem;">
            <div class="card-header">Passo 1</div>
            <div class="card-body">
              <h5 class="card-title">Selecionar uma 
                imagem.</h5>
              <p class="card-text"> Primeiro, escolha uma imagem que deseja remover o fundo clicando em “Remover e postar”.</p>
              <p class="card-text">Seu formato pode ser em JPG ou JPEG.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100  mb-3" style="max-width: 25rem;">
            <div class="card-header">Passo 2</div>
            <div class="card-body">
              <h5 class="card-title">Remova o fundo como um passe de mágica.</h5>
              <p class="card-text">Nossa ferramenta remove automaticamente o fundo da sua imagem.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100  mb-3" style="max-width: 25rem ;">
            <div class="card-header">Passo 3</div>
            <div class="card-body">
              <h5 class="card-title">Faça download ou poste sua imagem.</h5>
              <p class="card-text">Depois de selecionar uma nova cor de fundo, faça o download de sua foto e pronto!</p>
              <p class="card-text">Ou postar em seu perfil criando uma conta no clean cut. Conseguindo acessar as imagens de outras pessoas</p>
            </div>
          </div>
        </div>
      </div> <!--Cards-->


      <div class="edit">
        <a th:href="@{/remove-background}"><button >Remover fundo</button></a>
      </div> <!--Area para remover o fundo-->

      <p id="texto">Nao tem uma imagem? Teste com uma dessas:</p><!--Texto das mini imagens-->

      
      <div class="grid">

        <div class="cards">
          <img src="https://i.pinimg.com/564x/20/e0/fd/20e0fd7d19f497342c0801d389c41d44.jpg" alt="">
        </div>
        <div class="cards">
          <img src="https://i.pinimg.com/564x/97/af/77/97af774d991d6851e0d6b98e810b93b7.jpg" alt="">
        </div>
        <div class="cards">
          <img src="https://i.pinimg.com/564x/f3/ab/61/f3ab610205469254d7c381ec7adda786.jpg" alt="">
        </div>
        <div class="cards">
          <img src="https://i.pinimg.com/736x/39/c8/d0/39c8d0801f1625f52f8c9e972743a660.jpg" alt="">
        </div> <!--Mini imagens para usar de exemplo-->
      </div>



      <section class="perguntas">
        <h2 class="title">Você perguntou, nós respondemos</h2>

        <div class="faq">
          <div class="question">
            <h3>Como remover o fundo da imagem?</h3>

            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12px" height="7px" viewBox="0 0 12 7" version="1.1">
              <!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch -->
              <title>keyboard_arrow_down</title>
              <desc>Created with Sketch.</desc>
              <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Rounded" transform="translate(-616.000000, -2467.000000)">
                      <g id="Hardware" transform="translate(100.000000, 2404.000000)">
                          <g id="-Round-/-Hardware-/-keyboard_arrow_down" transform="translate(510.000000, 54.000000)">
                              <g>
                                  <rect id="Rectangle-Copy-103" x="0" y="0" width="24" height="24"/>
                                  <path d="M8.12,9.29 L12,13.17 L15.88,9.29 C16.27,8.9 16.9,8.9 17.29,9.29 C17.68,9.68 17.68,10.31 17.29,10.7 L12.7,15.29 C12.31,15.68 11.68,15.68 11.29,15.29 L6.7,10.7 C6.31,10.31 6.31,9.68 6.7,9.29 C7.09,8.91 7.73,8.9 8.12,9.29 Z" id="🔹-Icon-Color" fill="#1D1D1D"/>
                              </g>
                          </g>
                      </g>
                  </g>
              </g>
          </svg>

          </div>
          <div class="answer">
            <p>Primeiro, escolha uma imagem que deseja remover o fundo clicando em “Remover e postar”. Seu formato pode ser em JPG ou Jpgeg.</p>
          </div>
        </div>

        <div class="faq">
          <div class="question">
            <h3>A remoção de fundo é gratuita?</h3>
            
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12px" height="7px" viewBox="0 0 12 7" version="1.1">
              <!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch -->
              <title>keyboard_arrow_down</title>
              <desc>Created with Sketch.</desc>
              <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Rounded" transform="translate(-616.000000, -2467.000000)">
                      <g id="Hardware" transform="translate(100.000000, 2404.000000)">
                          <g id="-Round-/-Hardware-/-keyboard_arrow_down" transform="translate(510.000000, 54.000000)">
                              <g>
                                  <rect id="Rectangle-Copy-103" x="0" y="0" width="24" height="24"/>
                                  <path d="M8.12,9.29 L12,13.17 L15.88,9.29 C16.27,8.9 16.9,8.9 17.29,9.29 C17.68,9.68 17.68,10.31 17.29,10.7 L12.7,15.29 C12.31,15.68 11.68,15.68 11.29,15.29 L6.7,10.7 C6.31,10.31 6.31,9.68 6.7,9.29 C7.09,8.91 7.73,8.9 8.12,9.29 Z" id="🔹-Icon-Color" fill="#1D1D1D"/>
                              </g>
                          </g>
                      </g>
                  </g>
              </g>
          </svg>
          
          </div>
          <div class="answer">
            <p>
              Sim, a remoção de fundo é gratuita. No Clean Cut você poder remover o fundo de todas as suas imagens sem nenhum custo adicional.
            </p>
          </div>
        </div>
        

        <div class="faq">
          <div class="question">
            <h3>Como removemos o fundo das imagens?</h3>
            
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12px" height="7px" viewBox="0 0 12 7" version="1.1">
              <!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch -->
              <title>keyboard_arrow_down</title>
              <desc>Created with Sketch.</desc>
              <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Rounded" transform="translate(-616.000000, -2467.000000)">
                      <g id="Hardware" transform="translate(100.000000, 2404.000000)">
                          <g id="-Round-/-Hardware-/-keyboard_arrow_down" transform="translate(510.000000, 54.000000)">
                              <g>
                                  <rect id="Rectangle-Copy-103" x="0" y="0" width="24" height="24"/>
                                  <path d="M8.12,9.29 L12,13.17 L15.88,9.29 C16.27,8.9 16.9,8.9 17.29,9.29 C17.68,9.68 17.68,10.31 17.29,10.7 L12.7,15.29 C12.31,15.68 11.68,15.68 11.29,15.29 L6.7,10.7 C6.31,10.31 6.31,9.68 6.7,9.29 C7.09,8.91 7.73,8.9 8.12,9.29 Z" id="🔹-Icon-Color" fill="#1D1D1D"/>
                              </g>
                          </g>
                      </g>
                  </g>
              </g>
          </svg>
          
          </div>
          <div class="answer">
            <p>
              Utilizamos este modelo treinado para auxiliar na remoção do fundo. Para acessar a biblioteca basta <a href="https://github.com/danielgatis/rembg">clicar aqui!</a>
            </p>
          </div>
        </div>
     
        
        

        
      </section><!--Faq-->

    </main>

    <footer th:replace ="~{base :: footer}"></footer>

    
    <script src="https://kit.fontawesome.com/de140a3406.js" crossorigin="anonymous"></script> <!--Icons-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> <!--Bootstrap-->
    
</body>
</html>